* {
  box-sizing: border-box;
}

.calculator {
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  min-height: 500px!important;
  color: white;
  padding: 0;

}


.calculator-display {
  display: flex;
  width: 100%;
  min-height: 100px;
  font-size: 5vh;
  color: white;
  text-align: right;
  background-color: rgba(0,0,0,0.5)!important;
  transition: background-color 2s ease;
}

.calculator-display:focus {
  color: black;
  background-color: rgba(255,255,255,1)!important;
}



.flex-row {
  display: flex;
  flex-direction: row;
}

.key {
  display: flex;
  color: white;
  font-size: 18pt!important;
  width: 5vw;
  padding: 2%;
  list-style-type: none;
  margin: auto!important;
  justify-content: center!important;
}

.key:hover {
  background-color: rgba(0,255,0,0.5);
}

.transparent {
  display: flex;
  color: white!important;
  background-color: rgba(0, 0, 0, 0.5);
}
