.calculator {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  color: white;
  padding: 0;
}

.calculator-display {
  display: flex;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
